* {
    margin: 0;
    padding: 0;

}
.jumbotron {
    background-color: orange ;
    margin-top: 50px;

}


.footer {

    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;

}
.btn-reserva {
    width: 100%;
    
}

.footer-p-icon {
    padding-right: 15px;
}








