@orange: #fab250;

.margenes (@top,@bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}



* {
    margin: 0;
    padding: 0;

}
.jumbotron {
    background-color: @orange;
    color: black;
    .margenes(50px, 0px)

}


.footer {

    padding: 10px 10px 0 10px;
    background-color: @orange;
    .margenes(0px, 10px)
}

.card-hotel {
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    .margenes(10px, 0px)

}
.btn-reserva {
    width: 100%;
    
}

.footer-p-icon {
    padding-right: 15px;
}



