* {
  margin: 0;
  padding: 0;
}
.jumbotron {
  background-color: #fab250;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #fab520;
  margin-top: 0px;
  margin-bottom: 10px;
}
.card-hotel {
  flex: 1 300px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
}
.footer-p-icon {
  padding-right: 15px;
}
